<!DOCTYPE html>
<html lang="en">
<head>
	<script>

		var request = new XMLHttpRequest()

		request.open('GET', 'https://localhost:8080', true)
		request.onload = function() {
 		 // Begin accessing JSON data here
  		var data = JSON.parse(this.response)

 	 if (request.status >= 200 && request.status < 400) {
   			 data.forEach(item => {
      console.log(item)
    })
  } else {
    console.log('error')
  }
}

request.send()

	</script>

	<title> {{ title }} </title>

</head>

<body>
<center>
<b>TASKS</b>
<table>
{{#each data}}
<tr>
<td>
{{#if this.completed}}
<strike>{{this.name}}</strike>
{{else}}
{{this.name}}
{{/if}}
</td>


</tr>
{{/each}}


</table>
</center>
</body>

</html>
